@use "modules/vars";
:root {
    --clr-light: hsl(0, 0%, 90%);
    --clr-dark: hsl(0, 0%, 10%);
    --clr-primary: hsl(0, 18%, 34%);
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    --animation-timing: 0.5s ease-in-out;
}

.darkmode {
    --clr-light: hsl(0, 0%, 90%);
    --clr-dark: hsl(0, 0%, 10%);
    --clr-primary: hsl(0, 18%, 34%);
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

body {
    font-family: robotoregular;
    background: var(--background);
    color: var(--foreground);
    transition: background var(--animation-timing), color var(--animation-timing);
}

.sectionTitle {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: bold;
}

.separator {
    border: none;
    width: 75px;
    height: 12px;
    background-color: vars.$main-white;
}