.mainHero {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background-image: url(../images/filigreeHero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__nameTitle {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 4px;
        display: flex;
        flex-direction: column;
        transform: rotate(-45deg);
        &--span {
            padding-left: 1rem;
            white-space: nowrap;
            transform: rotate(45deg);
            &.name {
                font-family: 'robotoblack', sans-serif;
            }
            &.title {
                font-family: 'robotoregular', sans-serif;
            }
            }
    }
}