#mainNav {
    z-index: 999997;
    position: absolute;
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100vh;
    transition: margin-top 0.5s ease-in-out;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & li {
            padding: 1rem;
        }

        & a {
            font-family: robotobold;
            text-decoration: none;
            color: var(--foreground);
            font-size: 2rem;
        }
    }

    & img {
        margin-top: 4rem;
    }
}

.opened {
    margin-top: 0 !important;
}

#mainHeader {
    z-index: 999998;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & button {
        z-index: 999999;
        position: sticky;
        background: none;
        border: none;

        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hamRotate.active {
            transform: rotate(45deg);
        }
        .hamRotate180.active {
            transform: rotate(180deg);
        }
        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: var(--foreground);
            stroke-width:5.5;
            stroke-linecap:round;
        }
        .burger .top {
            stroke-dasharray: 40 160;
        }
        .burger .middle {
            stroke-dasharray: 40 142;
            transform-origin: 50%;
            transition: transform 400ms;
        }
        .burger .bottom {
            stroke-dasharray: 40 85;
            transform-origin: 50%;
            transition: transform 400ms, stroke-dashoffset 400ms;
        }
        .burger.active .top {
            stroke-dashoffset: -64px;
        }
        .burger.active .middle {
            //stroke-dashoffset: -20px;
            transform: rotate(90deg);
        }
        .burger.active .bottom {
            stroke-dashoffset: -64px;
        }
    }
}

#lightDark {
    fill: var(--foreground);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #mainHeader {
        position: relative;
    }
    #mainNav {
        display: block;
        height: 100%;
        z-index: 0;
        position: relative;
        margin-top: 0;
        & ul {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 0px;
            grid-template-areas:    "logo logo logo logo"
                                    "about projects resume contact";
        & #headerLogo {
            grid-area: logo;
            display: flex;
            align-items: center;
            justify-content: center;

            & a img {
                margin-top: 0;
            }
        }
        }
    }

    #burgerNav {
        display: none;
    }

    #lightDarkToggle {
        position: absolute !important;
        right: 0;
    }
}